{{#section 'stylesheets'}}
{{/section}}
  <div class="text-center">
    <div class="pb-3 gradient-background text-white">
      <h3 class="text-center font-black">Editar perfil</h3>
    </div>
  </div>
  <div class="p-3">
    <div class="pt-3 mt-5 p-3 ml-lg-4 text-center row">



      <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
        <form action="/user/update" method="post">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Nome:</p>
            <input name="user[fullName]" type="text" class="form-control font-light" value="{{user.fullName}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Email:</p>
            <input name="user[email]" type="text" class="form-control font-light" value="{{user.email}}" readonly></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">CEP:</p>
            <input name="user[address][cep]" type="text" class="form-control font-light" value="{{user.address.cep}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Rua:</p>
            <input name="user[address][street]" type="text" class="form-control font-light" value="{{user.address.street}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Número:</p>
            <input name="user[address][number]" type="text" class="form-control font-light" value="{{user.address.number}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Cidade:</p>
            <input name="user[address][city]" type="text" class="form-control font-light" value="{{user.address.city}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Estado:</p>
            <select class="form-control font-light" name="user[address][state]">
              <option selected hidden value = {{user.address.state}}> {{user.address.state}} </option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MT">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">CPF/CNPJ:</p>
            <input name="user[doc]" type="text" class="form-control font-light" value="{{user.doc}}" readonly></input>
          </div>
        </div>


        <!-- ordinary fields -->

        {{#compare user.type 'Franqueado'}}
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <div class="form-group">
              <p class="row col text-bold" align="justify">Resumo das atividades profissionais atuais:</p>
              <input name="user[activities]" type="text" class="form-control font-light" value="{{user.activities}}"></input>
            </div>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Possui carteira de cliente que cotam produtos:</p>
            <select class="form-control font-light" name="user[actualCustomers]" id="type">
              <option selected hidden value = {{user.actualCustomers}}> {{user.actualCustomers}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Deseja poder ser contrado como franqueado?</p>
            <select class="form-control font-light"  name="user[moreClients]"  id="type" type="string">
              {{#compare user.moreClients 'Sim'}}
              <option selected hidden value  = {{user.moreClients}}>Sim </option>
              {{/compare}}
              {{#compare user.moreClients 'Não'}}
              <option selected hidden value  = {{user.moreClients}}>Não </option>
              {{/compare}}
              <option value = 'Sim' >Sim</option>
              <option value = 'Não' >Não</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Status da conta:</p>
            <select class="form-control font-light"  name="user[status]"  id="type" type="string">
              {{#compare user.status 'Ativo'}}
              <option selected hidden value  = {{user.status}}>Ativo </option>
              {{/compare}}
              {{#compare user.status 'Inativo'}}
              <option selected hidden value  = {{user.status}}>Inativo </option>
              {{/compare}}
              <option value = 'Ativo' >Ativo</option>
              <option value = 'Inativo' >Inativo</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Total de clientes:</p>
            <input name="user[totalCustomers]" type="text" class="form-control font-light" value="{{user.totalCustomers}}" readonly></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Como a Megapool poderia ser importante para seu négocio:</p>
            <input name="user[whyIsMegapoolImportant]" type="text" class="form-control font-light" value="{{user.whyIsMegapoolImportant}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Possui carteira de cliente que podem vir cotar produtos:</p>
            <select class="form-control font-light" name="user[possibleCustomers]" id="type">
              <option selected hidden value = {{user.possibleCustomers}}> {{user.possibleCustomers}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>


        {{else compare user.type 'Revendedor'}}
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone fixo:</p>
            <input name="user[phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.phone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Celular:</p>
            <input name="user[cellphone]" type="text" class="form-control font-light" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" value="{{user.cellphone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Nome fantasia:</p>
            <input name="user[fantasyName]" type="text" class="form-control font-light" value="{{user.fantasyName}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Email de contato:</p>
            <input name="user[secondaryEmail]" type="text" class="form-control font-light" value="{{user.secondaryEmail}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Responsável pela conta:</p>
            <input name="user[responsible][name]" type="text" class="form-control font-light" value="{{user.responsible.name}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Tem condições de atender demandas imediatas:</p>
            <select class="form-control font-light" name="user[delivery][stock]" id="type">
              <option selected hidden value = {{user.delivery.stock}}> {{user.delivery.stock}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Aceita entregar encomendas em até: (km)</p>
            <input name="user[delivery][maxDistance]" type="text" class="form-control font-light" value="{{user.delivery.maxDistance}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone do responsável pela logística:</p>
            <input name="user[logistics][phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.logistics.phone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Email da logística:</p>
            <input name="user[logistics][email]" type="text" class="form-control font-light" value="{{user.logistics.email}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Município sede da matriz:</p>
            <input name="user[headquarter]" type="text" class="form-control font-light" value="{{user.headquarter}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Responsável pela empresa na região:</p>
            <input name="user[regionalResponsible]" type="text" class="form-control font-light" value="{{user.regionalResponsible}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone fixo do Responsável pela conta MEGAPOOL:</p>
            <input name="user[responsible][phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.responsible.phone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Celular do Responsável pela conta MEGAPOOL:</p>
            <input name="user[responsible][cellphone]" type="text" class="form-control font-light" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" value="{{user.responsible.cellphone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Estoque físico mais próximo:</p>
            <input name="user[whereIsStock]" type="text" class="form-control font-light" value="{{user.whereIsStock}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse de atender quais estados:</p>
            <input name="user[interestedStates]" type="text" class="form-control font-light" value="{{user.interestedStates}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender clientes diretos (com entregas fracionadas):</p>
            <select class="form-control font-light" name="user[delivery][fractional]" id="type">
              <option selected hidden value = {{user.delivery.fractional}}> {{user.delivery.fractional}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender revendas:</p>
            <select class="form-control font-light" name="user[delivery][dealer]" id="type">
              <option selected hidden value = {{user.delivery.dealer}}> {{user.delivery.dealer}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender grupos de compras:</p>
            <select class="form-control font-light" name="user[delivery][groups]" id="type">
              <option selected hidden value = {{user.delivery.groups}}> {{user.delivery.groups}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender repiques com entregas no máximo até 30 dias:</p>
            <select class="form-control font-light" name="user[delivery][repechage]" id="type">
              <option selected hidden value = {{user.delivery.repechage}}> {{user.delivery.repechage}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        {{else compare user.type 'Produtor'}}
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone fixo:</p>
            <input name="user[phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.phone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Celular:</p>
            <input name="user[cellphone]" type="text" class="form-control font-light" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" value="{{user.cellphone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Nome da fazenda:</p>
            <input name="user[farm][name]" type="text" class="form-control font-light" value="{{user.farm.name}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Distância aproximadada cidade até a fazenda:</p>
            <input name="user[farm][distanceToCity]" type="text" class="form-control font-light" value="{{user.farm.distanceToCity}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Roteiro de entrega:</p>
            <input name="user[farm][deliveryScript]" type="text" class="form-control font-light" value="{{user.farm.deliveryScript}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Área plantada (ha):</p>
            <input name="user[farm][area]" type="text" class="form-control font-light" value="{{user.farm.area}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Soja:</p>
            <input name="user[farm][soy]" type="text" class="form-control font-light" value="{{user.farm.soy}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Milho:</p>
            <input name="user[farm][corn]" type="text" class="form-control font-light" value="{{user.farm.corn}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Algodão:</p>
            <input name="user[farm][cotton]" type="text" class="form-control font-light" value="{{user.farm.cotton}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Outras culturas:</p>
            <input name="user[farm][otherCultivations]" type="text" class="form-control font-light" value="{{user.farm.otherCultivations}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Pode se comunicar por Whatsapp:</p>
            <select class="form-control font-light" name="user[wpp]" id="type">
              <option selected hidden value = {{user.wpp}}> {{user.wpp}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Inscrição Estadual:</p>
            <input name="user[stateRegistration]" type="text" class="form-control font-light" value="{{user.stateRegistration}}"></input>
          </div>
        </div>

        {{else compare user.type 'Indústria'}}

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone fixo:</p>
            <input name="user[phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.phone}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Celular:</p>
            <input name="user[cellphone]" type="text" class="form-control font-light" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" value="{{user.cellphone}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Nome de fantasia:</p>
            <input name="user[fantasyName]" type="text" class="form-control font-light" value="{{user.fantasyName}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Email de contato:</p>
            <input name="user[secondaryEmail]" type="text" class="form-control font-light" value="{{user.secondaryEmail}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Responsável pela conta:</p>
            <input name="user[responsible][name]" type="text" class="form-control font-light" value="{{user.responsible.name}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Tem condições de atender demandas imediatas:</p>
            <select class="form-control font-light" name="user[delivery][stock]" id="type">
              <option selected hidden value = {{user.delivery.stock}}> {{user.delivery.stock}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Aceita entregar encomendas em até: (km)</p>
            <input name="user[delivery][maxDistance]" type="text" class="form-control font-light" value="{{user.delivery.maxDistance}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone do responsável pela logística:</p>
            <input name="user[logistics][phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.logistics.phone}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Email da logística:</p>
            <input name="user[logistics][email]" type="text" class="form-control font-light" value="{{user.logistics.email}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Município sede da matriz:</p>
            <input name="user[headquarter]" type="text" class="form-control font-light" value="{{user.headquarter}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Responsável pela empresa na região:</p>
            <input name="user[regionalResponsible]" type="text" class="form-control font-light" value="{{user.regionalResponsible}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Telefone fixo do Responsável pela conta MEGAPOOL:</p>
            <input name="user[responsible][phone]" type="text" class="form-control font-light" maxlength="12" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## ####-####', this)" value="{{user.responsible.phone}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Celular do Responsável pela conta MEGAPOOL:</p>
            <input name="user[responsible][cellphone]" type="text" class="form-control font-light" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$" OnKeyPress="formatar('## #####-####', this)" value="{{user.responsible.cellphone}}"></input>
          </div>
        </div>
        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Estoque físico mais próximo:</p>
            <input name="user[whereIsStock]" type="text" class="form-control font-light" value="{{user.whereIsStock}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse de atender quais estados:</p>
            <input name="user[interestedStates]" type="text" class="form-control font-light" value="{{user.interestedStates}}"></input>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender clientes diretos (com entregas fracionadas):</p>
            <select class="form-control font-light" name="user[delivery][fractional]" id="type">
              <option selected hidden value = {{user.delivery.fractional}}> {{user.delivery.fractional}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender revendas:</p>
            <select class="form-control font-light" name="user[delivery][dealer]" id="type">
              <option selected hidden value = {{user.delivery.dealer}}> {{user.delivery.dealer}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender grupos de compras:</p>
            <select class="form-control font-light" name="user[delivery][groups]" id="type">
              <option selected hidden value = {{user.delivery.groups}}> {{user.delivery.groups}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12  col-md-6 col-lg-5 text-center pl-lg-5 ml-lg-5">
          <div class="form-group">
            <p class="row col text-bold" align="justify">Interesse em atender repiques com entregas no máximo até 30 dias:</p>
            <select class="form-control font-light" name="user[delivery][repechage]" id="type">
              <option selected hidden value = {{user.delivery.repechage}}> {{user.delivery.repechage}} </option>
              <option value="Não">Não</option>
              <option value="Sim">Sim</option>
            </select>
          </div>
        </div>
        {{/compare}}

        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="button" class="btn btn-info mx-auto mt-4 px-5 d-block col-md-4 col-12" onclick="location.href = '/user/change-password'">Alterar senha</button>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 text-center ">
          <button class="btn btn-default bg-green text-light2 mx-auto mt-4 px-5 d-block col-md-4 col-12" type="submit">Salvar</button>
        </div>
      </form>

      <div class="col-sm-12 col-md-12 col-lg-12 text-center ">
        <form action="/user/inactive" method="post">
          <button class="btn btn-secondary text-light2 mx-auto mt-4 px-5 mb-3 d-block col-md-4 col-12" type="submit">Inativar conta</button>
        </form>
      </div>

    </div>
    <!-- end ordinary fields -->

  </div>
</div>
{{#section 'scripts'}}
<script src="/javascripts/signup.js"></script>
{{/section}}
