<!DOCTYPE html>

<html>
<head>
  <title>{{ title }}</title>   <!-- título da aba da página*/ -->
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link rel='stylesheet' href='/stylesheets/estilos.css'>
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  {{{_sections.stylesheets}}}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <!-- Header and NavBar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="gradient-background pl-2 pt-2">
        <h4 class="text-white ml-3 mt-3">Bem vindo, {{firstName}}</h4>
        <ul class="navbar-nav mr-auto ml-5 mt-4">
          <div class="row">
            <div class="col-md-6">
              <li class="nav-item active">
                <a class="nav-link opacity-changes d-inline-block" href="/user">
                  <i class="fas fa-home fa-sm mt-2 float-left"></i>
                  <h3 class="font3 mobile-font float-right">Menu principal</h3>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link opacity-changes d-inline-block" href="/user/edit">
                  <i class="fas fa-user fa-sm mt-2 float-left"></i>
                  <h3 class="font3 mobile-font float-right">Minha conta</h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link opacity-changes d-inline-block" href="/transaction/">
                  <i class="fas fa-hdd fa-sm mt-2 float-left"></i>
                  <h3 class="font3 mobile-font float-right">Histórico</h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link opacity-changes d-inline-block" href="/logout">
                  <i class="fas fa-sign-out-alt fa-sm mt-2 float-left"></i>
                  <h3 class="font3 mobile-font float-right">Logout</h3>
                </a>
              </div>
              <div class="col-md-6 my-auto">
              </li>
              <li class="nav-item active">
                <a class="nav-link font3" href="/user/contact">
                  SUPORTE E CONTATO
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link font3" href="/user/doubts">
                  DÚVIDAS FREQUENTES
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link font3" href="/terms">
                  TERMOS DE USO
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link font3" href="https://www.facebook.com/megapoolagro">
                  CURTA NOSSA PÁGINA
                </a>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <nav class="navbar gradient-background pl-2 pt-3">
      <row>
        <button id="menu" class="btn btn-outline-dark nav-color-change float-left mr-1" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="d-inline d-sm-none card-icon fas fa-bars fa-xs align-self-center"></i>
          <i class="d-none d-sm-inline d-xl-none card-icon fas fa-bars fa-2x align-self-center"></i>
          <i class="d-none d-xl-inline card-icon fas fa-bars fa-2x align-self-center"></i>
        </button>
        <button class="btn btn-outline-dark  nav-color-change float-left" type="button" onclick="history.back()">
          <i class="d-inline d-sm-none card-icon fas fa-arrow-left fa-xs align-self-center"></i>
          <i class="d-none d-sm-inline d-xl-none card-icon fas fa-arrow-left fa-2x align-self-center"></i>
          <i class="d-none d-xl-inline card-icon fas fa-arrow-left fa-2x align-self-center"></i>


        </button>
      </row>
      <row>
        <div class="col-sd-6 float-right mt-3 mr-3" id="search-list">
          {{#ifNotEq userType 'Indústria'}}
          {{#if franchisee}}
          {{#compare userType 'Franqueado'}}
          <form action="../search" method="get" class="input-wrapper float-right my-2 my-lg-0 my-sm-0 searchbar">
            <input id="searchbar-icon" type="search" placeholder="Buscar" name="filter" class="text-light typeahead typeahead-searchbar typeahead-search">
            <label for="searchbar-icon" class="fas fa-search input-icon"></label>
            <button type="submit" class="d-none"></button>
          </form>
          {{/compare}}
          {{else}}
          <form action="../search" method="get" class="input-wrapper float-right mt-0 mb-3 searchbar">
            <input id="searchbar-icon" type="search" placeholder="Buscar" name="filter" class="text-light typeahead typeahead-searchbar typeahead-search">
            <label for="searchbar-icon" class="fas fa-search input-icon"></label>
            <button type="submit" class="d-none"></button>
          </form>
          {{/if}}
          {{/ifNotEq}}
        </div>

        <div class="col-sd-6 float-right pt-4 mx-3 mt-2 d-lg-block d-none">
          <h5 class="font3 mobile-font1 text-success"><span class="text-light">Dólar comercial: </span>R$ {{usdValue}}
            {{{rising}}}
          </h5>
        </div>

        <div class="col-sd-6 float-right pt-4 mx-3 mt-2">
          <h5 class="font3 mobile-font1 text-success"><span class="text-light">PTAX: </span>R${{ptaxValue}}
            {{{risingPtax}}}
          </h5>
        </div>
            </row>
          </nav>
    </div>
    <!-- end Header and NavBar -->


  {{{ body }}}

  <div class="agro-alert col-12 col-lg-4 col-md-6">
    {{> messages}}
  </div>
  <script src="/__/firebase/7.6.2/firebase-app.js"></script>
  <script src="/__/firebase/7.6.2/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>
  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  <script src="/typeahead/typeahead.bundle.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  <script src="/javascripts/navbar.js" charset="utf-8"></script>
  <script src="/javascripts/search.js"></script>
  {{{_sections.scripts}}}
</body>
</html>
