{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="text-center pb-3 gradient-background text-white">
  <h3 class="font-black">Produtos oferecidos</h3>
</div>

{{#if offers}}
<div style="overflow-x:auto;">
  <div class="container col-sm-12 col-md-9 col-lg-6">
    <p>Digite logo abaixo para buscar algum produto específico:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>
  </div>
</div>
{{/if}}

<!-- OrdersList-->
<div id="results-list" class="row justify-content-center mt-2 mx-0">
  <div class="col-sm-12 col-md-9 col-lg-6 btn p-3 cursor-default">
    <table id="myTable" class="col-12">

    <tbody>
  {{#if offers}}
    {{#each offers}}
    <tr class="col-12">
      <td class="d-none">{{product.name}}</td>
      <td class="d-none">{{price.high}}</td>
      <td class="d-none">{{product.unit}}</td>
      <td class="d-none">{{delivery}}</td>
      <td class="d-none">{{stock}}</td>
      <td class="">
            <div class="p-1" >
              <div class="my-1 bg-light2 card1 card"  onclick="location.href = '/offers/{{_id}}'">
                <div class="text-right">
                  <div class="row px-3">
                    <div class="col-3 d-inline-block text-center align-self-center">
                      {{#compare product.category 'Defensivos agrícolas/agrotóxicos'}}
                      <i class="d-inline d-sm-none card-icon fas fa-archive fa-2x align-self-center"></i>
                      <i class="d-none d-sm-inline d-xl-none card-icon fas fa-archive fa-3x align-self-center"></i>
                      <i class="d-none d-xl-inline card-icon fas fa-archive fa-4x text-left"></i>
                      {{else compare product.category 'Sementes'}}
                      <i class="d-inline d-sm-none card-icon fas fa-dot-circle fa-2x align-self-center"></i>
                      <i class="d-none d-sm-inline d-xl-none card-icon fas fa-dot-circle fa-3x align-self-center"></i>
                      <i class="d-none d-xl-inline card-icon fas fa-dot-circle fa-4x align-self-center"></i>
                      {{else compare product.category 'Fertilizantes sólidos'}}
                      <i class="d-inline d-sm-none card-icon fas fa-seedling fa-2x align-self-center"></i>
                      <i class="d-none d-sm-inline d-xl-none card-icon fas fa-seedling fa-3x align-self-center"></i>
                      <i class="d-none d-xl-inline card-icon fas fa-seedling fa-4x align-self-center"></i>
                      {{else compare product.category 'Fertilizantes líquidos/adjuvantes/biológicos'}}
                      <i class="d-inline d-sm-none card-icon fas fa-tint fa-2x align-self-center"></i>
                      <i class="d-none d-sm-inline d-xl-none card-icon fas fa-tint fa-3x align-self-center"></i>
                      <i class="d-none d-xl-inline card-icon fas fa-tint fa-4x align-self-center"></i>
                      {{/compare}}
                    </div>

              <div class="col p-2">
                <div class="vl">
                  {{#if megaOpportunity}}
                  <div class="pagination float-right">
                    <div data-toggle="tooltip" data-placement="top" title="Essa oferta é uma mega oportunidade" class="pagination__dot pagination__dot--mega"></div>
                  </div>
                  {{/if}}
                  <div class="ml-2">
                    <h5 class="text-left align-text-top card-text font-black text-green mobile-font1 text-uppercase">
                      {{product.name}}
                    </h5>
                  </div>
                  <div class="ml-2 mt-3 text-left">
                    {{#compare active false}}
                      <span class="badge badge-danger mb-3">
                        <h6>Inativo</h6>
                      </span>
                    {{else}}
                      <span class="badge badge-success mb-3">
                        <h6>Ativo</h6>
                      </span>
                    {{/compare}}
                    <div class="text-left side-animation">
                      <h4 class="font-book mobile-font4 mobile-font5  d-inline">
                          U$ {{price.high}}
                      </h4>
                            <i class="text-gray3 mt-2 font-light mobile-font1 d-inline">
                              / {{product.unit}}
                            </i>
                          </div>
                        </div>
                        <div class="smaller-font d-flex text-center mt-3 align-bottom">
                          <div class="ml-2 text-gray3">
                            <p class="text-uppercase font-book mobile-font2">Compra
                              {{#if megaOpportunity}}
                              <span class="count font-light mobile-font2"> <br/>solo</span>
                              {{else}}
                                {{#compare delivery '48 horas'}}
                                <span class="count font-light mobile-font2"> <br/>solo</span>
                                {{else}}
                                <span class="count font-light mobile-font2"> <br/>em grupo</span>
                                {{/compare}}
                              {{/if}}
                            </p>
                          </div>
                          <div class="ml-4 text-gray3">
                            <p class="text-uppercase font-book mobile-font2">Entrega
                              <span class="count font-light mobile-font2"> <br/>{{delivery}}</span>
                            </p>
                          </div>
                          <div class="ml-4 text-gray3">
                            <p class="text-uppercase font-book mobile-font2">Estoque
                              <span class="count font-light mobile-font2"> <br/>{{stock}} {{product.unit}}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="container">
      <p class="text-center font-light">Você não está oferecendo nenhum produto ainda.</p>
    </div>
    {{/if}}
  </div>
</div>
<!-- end OrdersList -->

{{#section 'scripts'}}
<script src="/javascripts/sales.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{{/section}}
