{{#section 'stylesheets'}}
{{/section}}

<div class="container">
  <div class="row justify-content-center mx-sm-auto mx-md-9">
    <!-- Product Title -->
    <div class="col-12 col-md-12 mb-4 justify-content-center">
      {{#if megaOpportunity}}
      <div class="text-center pb-2">
        <h5 class="badge badge-success ">
            Mega oportunidade
        </h5>
      </div>
      {{/if}}
      <h5 class="text-muted text-center">Produto {{product.generic}}</h5>
      <h2 class="my-0 py-0 mb-4 text-center">{{product.name}}</h2>
    </div>

    <div class="col-12 col-md-4 mb-5 ml-md-5 justify-content-center">
      <!-- Product Description -->

      {{#if megaOpportunity}}
        <h4>Avaria</h4>
        <p class="font-light"> {{damage}} </p>
        <h4>Descrição</h4>
        <p class="font-light"> {{product.description}} </p>
      {{else}}
        <h4>Descrição</h4>
        <p class="font-light"> {{product.description}} </p>
      {{/if}}

      {{#ifNotEq delivery '48 horas'}}
      <h4>Vendedor(a)</h4>
      <p class="font-light">{{seller.fullName}}</p>
      {{/ifNotEq}}

      <h4>Estoque disponível</h4>
      <p class="font-light">{{stock}} {{product.unit}}</p>

      <h4>Ingredientes ativos</h4>
      {{#each product.chems}}
      <dd>{{name}}</dd>
      {{/each}}

      <h4>Forma de entrega</h4>
      <p class="font-light">{{delivery}}
        {{#ifNotEq delivery '48 horas'}}
          {{#ifNotEq delivery '31 dias'}}
            {{group.date}}
          {{/ifNotEq}}
        {{/ifNotEq}}
      </p>

      <h4>Fabricante</h4>
      <p class="font-light">{{product.manufacturer}}</p>

      <h4>Categoria</h4>
      <p class="font-light">{{product.category}}</p>
      <!-- end Product Description -->
    </div>
    <!-- end Product Title -->

    <!-- Quotation -->
    <div class="col-12 col-md-4 mb-5 justify-content-center">
      {{#compare userType 'Produtor'}}
        {{#compare active true}}
        <form action="/transaction" method="post">
          <label class="font-bold" for="amount">Quantidade</label>
          <input type="hidden" name="_id" value="{{_id}}">
          <div class="input-group">
            <input class="form-control" type="number" min="{{minAmount}}" max="{{stock}}" name="amountBought" id="amount" value="{{minAmount}}">
            <div class="input-group-prepend">
              <div class="input-group-text">{{product.unit}}</div>
            </div>
          </div>
          <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
        </form>
        {{else}}
        <h4>Aviso:</h4>
        <p class="font-light text-center"> Não há estoque suficiente para realizar uma compra. </p>
        {{/compare}}
      {{else compare userType 'Franqueado'}}
        {{#compare active true}}
        <form action="/transaction" method="post">
          <label class="font-light" for="amount">Quantidade</label>
          <div class="input-group">
            <input type="hidden" name="_id" value="{{_id}}">
            <input class="form-control" type="number" min="{{minAmount}}" max="{{stock}}" name="amountBought" id="amount" value="{{minAmount}}" required>
            <div class="input-group-prepend">
              <div class="input-group-text">{{product.unit}}</div>
            </div>
          </div>
          <label class="mt-2 font-light" for="amount">Selecione o cliente responsável por esta cotação</label>
          <select class="form-control new-shadow" name="buyer" required/>
          <option disabled selected value>-- Cliente --</option>
          {{#each clients}}
          <option value={{_id}}>{{fullName}}</option>
          {{/each}}
          </select>
          <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
        </form>
        {{else}}
        <h4>Aviso:</h4>
        <p class="font-light text-center"> Não há estoque suficiente para realizar uma compra. </p>
        {{/compare}}
      {{else compare userType 'Administrador'}}
      <div class="col-12">
        <h4>Status</h4>
        {{#compare active true}}
        <p class="font-light">Ativo</p>
        {{else}}
        <p class="font-light">Inativo</p>
        {{/compare}}
      </div>
      <div class="col-12">
        <h4>Entrega</h4>
        <p class="font-light">{{delivery}}
          {{#ifNotEq delivery '48 horas'}}
            {{#ifNotEq delivery '31 dias'}}
              {{group.date}}
            {{/ifNotEq}}
          {{/ifNotEq}}
        </p>
      </div>
      <div class="col-12">
        <h4>Preços</h4>
        <p class="font-light">Baixo:
          U$ {{price.low}}
        </p>
        <p class="font-light">Médio:
          U$ {{price.average}}
        </p>
        <p class="font-light">Alto:
          U$ {{price.high}}
        </p>
      </div>
      <div class="col-12">
        <h4>Qtd. mínima</h4>
        <p class="font-light">{{minAmount}} {{product.unit}}</p>
      </div>
      <div class="text-center my-3 justify-content-center">
        <form action="/offers/{{id}}?_method=DELETE" method="POST" id="form-delete">
          <button type="submit" class="btn btn-danger col-8" name="status">
            Excluir
          </button>
        </form>
      </div>
      {{else compare userType 'Revendedor'}}
        {{#compare seller._id userId}}
          {{#compare active true}}
          <button class="w-100 text-white btn btn-default bg-green my-2" name="button" onclick="location.href = '/offers/{{_id}}/edit'">Editar oferta</button>
          <form action="/offers/{{_id}}?_method=DELETE" method="POST">
            <button type="submit" onclick="return confirm('Tem certeza que deseja inativar esta oferta?');" class="w-100 text-white btn btn-danger my-2">Inativar oferta</button>
          </form>
          {{else}}
            {{#compare stock minAmount operator="<"}}
            <p class="font-light text-center"> A oferta foi desativada por falta de estoque. Edite a oferta para reativá-la.</p>
            <button class="w-100 text-white btn btn-default bg-green my-2" name="button" onclick="location.href = '/offers/{{_id}}/edit'">Editar oferta</button>
            {{else}}
            <form action="/offers/{{_id}}?_method=PUT" method="POST">
              <input type="hidden" name="offer[active]" value="true">
              <button type="submit" onclick="return confirm('Tem certeza que deseja ativar esta oferta?');" class="w-100 text-white btn btn-success my-2">Ativar oferta</button>
            </form>
            {{/compare}}
          {{/compare}}
        {{else}}
          {{#compare active true}}
            {{#ifNotEq megaOpportunity true}}
            <form action="/transaction" method="post">
              <div class="form-group col">
                <label class="font-bold" for="amount">Quantidade</label>
                <div class="input-group">
                  <input type="hidden" name="_id" value="{{_id}}">
                  <input class="form-control" type="number" min="{{minAmount}}" max="{{stock}}" name="amountBought" id="amount" value="{{minAmount}}">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{product.unit}}</div>
                  </div>
                </div>
              </div>
              <button class="w-100 text-white btn btn-default bg-green my-2" type="submit" name="button">Cotar produto</button>
            </form>
            {{/ifNotEq}}
          {{else}}
          <h4>Aviso:</h4>
          <p class="font-light text-center"> Não há estoque suficiente para realizar uma compra. </p>
          {{/compare}}
        {{/compare}}
      {{else compare userType 'Indústria'}}
        {{#compare seller._id userId}}
          {{#compare active true}}
          <button class="w-100 text-white btn btn-default bg-green my-2" name="button" onclick="location.href = '/offers/{{_id}}/edit'">Editar oferta</button>
          <form action="/offers/{{_id}}?_method=DELETE" method="POST">
            <button type="submit" onclick="return confirm('Tem certeza que deseja inativar esta oferta?');" class="w-100 text-white btn btn-danger my-2">Inativar oferta</button>
          </form>
          {{else}}
            {{#compare stock minAmount operator="<"}}
            <p class="font-light text-center"> A oferta foi desativada por falta de estoque. Edite a oferta para reativá-la.</p>
            <button class="w-100 text-white btn btn-default bg-green my-2" name="button" onclick="location.href = '/offers/{{_id}}/edit'">Editar oferta</button>
            {{else}}
            <form action="/offers/{{_id}}?_method=PUT" method="POST">
              <input type="hidden" name="offer[active]" value="true">
              <button type="submit" onclick="return confirm('Tem certeza que deseja ativar esta oferta?');" class="w-100 text-white btn btn-success my-2">Ativar oferta</button>
            </form>
            {{/compare}}
          {{/compare}}
        {{/compare}}
      {{/compare}}
  </div>
  <!-- end Quotation -->
</div>
</div>

{{#section 'scripts'}}
{{/section}}
