{{#section 'stylesheets'}}
{{/section}}

<div class="text-center pb-3 gradient-background text-white">
  <h3 class="font-black">Requisições de produtos</h3>
</div>
<div style="overflow-x:auto;">
  <div class="container">
    {{#if products}}
    <p>Digite logo abaixo para buscar alguma requisição de produto específica:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>

    <table class="table table-bordered table-striped table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each products}}
        <tr>
          <th scope="row" class="text-center">{{name}}</th>
          <td class="text-center">
            <button onclick="location.href='/products/{{_id}}'" class="btn btn-outline-info font-book">
              Ver
            </button>
          </td>
          <td class="text-center">
            <form  method= "POST" action="/admin/{{id}}/requisitions/products">
              <div class="row">
                <button type="submit" align="center" class="btn btn-outline-success mx-auto col-11" name="status">
                  Aprovar
                </button>
              </div>
            </form>
          </td>
          <td class="text-center">
            <form action="/admin/{{id}}?_method=DELETE" method="POST">
              <div class="row">
                <button type="submit" align="center" class="btn btn-outline-danger mx-auto col-11" name="status">
                  Reprovar
                </button>
              </div>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{else}}
<div class="container">
  <p class="text-center font-light">Não há novas requisições de produtos.</p>
</div>
{{/if}}
</div>
{{#section 'scripts'}}
{{/section}}
