{{#section 'stylesheets'}}
{{/section}}

<div class="text-center pb-3 gradient-background text-white">
  <h3 class="font-black">Requisições de cadastro</h3>
</div>

{{#if users}}
<div class="container">
  <p>Digite logo abaixo para buscar alguma requisição de cadastro específica:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
  <br>
  <div style="overflow-x:auto;">
    <table class="table table-bordered table-striped table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Tipo</th>
          <th colspan="3" class="text-center">Opções</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each users}}
        {{#compare status 'Aguardando aprovação'}}
        <tr>
          <th scope="row" class="text-center">{{fullName}}</th>
          <td class="text-center">{{type}}</td>
          <td class="text-center">
            <button onclick="location.href='/user/profile/{{_id}}'" class="btn btn-outline-info font-book">
              Perfil
            </button>
          </td>
          {{#compare type 'Franqueado'}}
            <td>
              <div class="text-center">
                <form action="/admin/send-contract" enctype="multipart/form-data" method="post">
                  <small><small><input type="file" name="contract"></small></small>
                  <input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-secondary mt-1">Enviar contrato</button>
                </form>
              </div>
            </td>
            {{else}}
            <td>
            </td>
          {{/compare}}
          <td class="text-center">
            <form  method= "POST" action="/admin/{{id}}/requisitions/users">
              <button type="submit" align="center" class="btn btn-outline-success " name="status" value="Ativo">
                Aceitar
              </button>
            </form>
          </td>
          <td class="text-center">
            <form  method= "POST" action="/admin/{{id}}/requisitions/users">
              <button type="submit" align="center" class="btn btn-outline-danger " name="status" value="Bloqueado">
                Bloquear
              </button>
            </form>
          </td>
        </tr>
        {{/compare}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{else}}
<div class="container">
  <p class="text-center font-light">Não há novas requisições de cadastro.</p>
</div>
{{/if}}

{{#section 'scripts'}}
<script src="/javascripts/navbar.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{{/section}}
