{{#section 'stylesheets'}}
{{/section}}
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">Ver produto</h3>
</div>

{{#compare userType 'Administrador'}}

<div class="container">
  <div class="col-12 mb-5 text-center">
    <i class="text-muted">Produto {{generic}}</i>
    <h2 class="my-0 py-0 mb-4">{{name}}</h2>
  </div>

  <div class="row justify-content-center mx-sm-auto mx-md-9">
    <div class="col-12 col-md-4 mb-5">
      <h4>Descrição</h4>
      <p>{{description}}</p>
    </div>

    <!-- Product Characteristics -->
    <div class="col-12 col-md-4 mb-5">
      <h4>Características</h4>
      <div class="row">
        <div class="col-6">
          <dt>Ingrediente ativo</dt>
          {{#each chems}}
            <dd>{{name}}</dd>
          {{/each}}
        </div>
        <div class="col-6">
          <dt>Fabricante</dt>
          <dd>{{manufacturer}}</dd>
        </div>
        <div class="col-12">
          <dt>Categoria</dt>
          <dd>{{category}}</dd>
        </div>
      </div>
    </div>
    <!-- end Product Characteristics -->

    <!-- Payment Options -->
    <div class="col-12 col-md-4 mb-5">
      <h4>Formas de pagamento</h4>
      <div class="">
        <i class="fas fa-barcode fa-4x mr-2"></i>
      </div>
    </div>
    <!-- end Payment Options -->
  </div>


  {{#compare status 'Aguardando'}}
  <div class="row justify-content-center mb-3">
    <div class="pl-5 pr-5 p-2">
      <form  method= "POST" action="/admin/{{id}}/requisitions/products">
        <button type="submit" align="center" class="btn btn-outline-success" name="status">
          Aprovar
        </button>
      </form>
    </div>
    <div class="pl-5 pr-5">
      <form action="/products/{{id}}?_method=DELETE" method="POST">
        <button type="submit" align="center" class="btn btn-outline-danger" name="status">
          Reprovar
        </button>
      </form>
    </div>
  </div>
  {{/compare}}
</div>

{{else}}
<div class="container">
  <div class="col-12 mb-5 text-center">
    <i class="text-muted">Produto {{generic}}</i>
    <h2 class="my-0 py-0 mb-4">{{name}}</h2>
  </div>

  {{#compare status 'Aprovado'}}
  {{else compare status 'Aguardando'}}
  <div class="mb-5">
    <p class="text-center font-light">A requisição para adicionar esse produto à plataforma foi enviada para o administrador. Aguarde até que ele possa analisá-la.</p>
  </div>
  {{/compare}}

  <div class="row justify-content-center mx-sm-auto mx-md-9">
    <div class="col-12 col-md-4 mb-5">
      <h4>Descrição</h4>
      <p>{{description}}</p>
    </div>

    <!-- Product Characteristics -->
    <div class="col-12 col-md-4 mb-5">
      <h4>Características</h4>
      <div class="row">
        <div class="col-6">
          <dt>Ingrediente ativo</dt>
          {{#each chems}}
            <dd>{{name}}</dd>
          {{/each}}
        </div>
        <div class="col-6">
          <dt>Fabricante</dt>
          <dd>{{manufacturer}}</dd>
        </div>
        <div class="col-12">
          <dt>Categoria</dt>
          <dd>{{category}}</dd>
        </div>
      </div>
    </div>
    <!-- end Product Characteristics -->

    <!-- Payment Options -->
    <div class="col-12 col-md-4 mb-5">
      <h4>Formas de pagamento</h4>
      <div class="">
        <i class="fas fa-barcode fa-4x mr-2"></i>
      </div>
    </div>
    <!-- end Payment Options -->
  </div>
</div>
{{/compare}}

{{#section 'scripts'}}
{{/section}}
