{{#section 'stylesheets'}}
{{/section}}
<div class="pb-3 gradient-background text-white">
  <h3 class="text-center font-black">Editar produto</h3>
</div>

<div class="pl-5 pr-5 pt-2">

  <form action="/products/{{id}}?_method=PUT" method="POST">
    <div class="row d-flex justify-content-between">
      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <label for="name" class="editlabel">Nome do produto</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
          </div>
          <input name="product[name]" type="text" class="form-control" value="{{name}}" id="name"></input>
        </div>
      </div>

      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <label for="name" class="editlabel">Categoria</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
          </div>
          <input name="product[category]" type="text" class="form-control" value="{{category}}" id="name" readonly></input>
        </div>
      </div>

      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <label for="description" class="editlabel">Descrição</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-newspaper"></i></div>
          </div>
          <textarea rows="4" name="product[description]" value="{{description}}" type="text" class="form-control" id="description">{{description}}</textarea>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <label for="manufacturer" class="editlabel">Fabricante</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-industry"></i></div>
          </div>
          <input name="product[manufacturer]" type="text" value="{{manufacturer}}" class="form-control" id="manufacturer">
        </div>
        {{#compare generic 'Similar'}}
        <label>Produto genérico</label>
        {{else compare generic 'Original'}}
        <label>Produto não genérico</label>
        {{/compare}}
      </div>


      <div class="form-group col-md-3 col-10 mx-4 my-2">
        <label for="name" class="editlabel">Medida</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-cart-arrow-down"></i></div>
          </div>
          <input name="product[unit]" type="text" class="form-control" value="{{unit}}" id="unit" readonly></input>
        </div>
      </div>
      <div class="form-group col-md-3 col-10 mx-4  my-2">
        <p hidden>Hidden paragraph for alignment purposes.</p>
      </div>

    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="user-input ml-3">
          <br/>
          <div class="form-group mb-2">
            <div class="input-group" id="chems-list">
            </div>
          </div>
        </div>
        <label for="name" class="editlabel">Princípios ativos</label>
      </div>
      <div class="row">
        {{#each chems}}
        <span class="badge badge-success chem-badge">
          {{name}}
          <input type="hidden" name="chem[]" value="{{name}}">
        </span>
        {{/each}}
        <div class="" id="select-chem">

        </div>
      </div>

    </div>

    <button class="btn btn-default bg-green text-light mx-auto mt-4 px-5 mb-3 d-block" type="submit">Salvar</button>
  </form>
</div>

{{#section 'scripts'}}
<script src="/javascripts/chem.dropdown.js"></script>
{{/section}}
