{{#section 'stylesheets'}}
{{/section}}

<!-- Filters Header -->
<div class="filters-header row justify-content-md-end justify-content-center mx-1 mt-2 mb-1">
  <div class="col-12 col-md-7 d-flex align-items-center justify-content-between">
    <div class="">
      <h4 class="my-auto">Produtos disponíveis</h4>
    </div>
    <div class="">
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-sort-amount-down "></i>
      </button>
      <button type="button" name="button" class="btn ml-1">
        <i class="fas fa-filter "></i>
      </button>
    </div>
  </div>
</div>
<!-- end Filters Header -->

<!-- ProductsList -->
<div class="justify-content-center">
  <div id="results-list" class="row justify-content-left mt-2 mx-0">
    {{#each products}}
    <div class="col-12 col-md-5">
      <div class="card mb-1">
        <div class="card-body text-right">
          {{#compare category 'Defensivos'}}
          <!-- offer.product.category -->
          <i class="card-icon fas fa-archive fa-3x float-left align-middle"></i>
          {{else compare category 'Sementes'}}
          <i class="card-icon fas fa-dot-circle fa-3x float-left align-middle"></i>
          {{else compare category 'Fertilizantes'}}
          <i class="card-icon fas fa-seedling fa-3x float-left align-middle"></i>
          {{else compare category 'Fertilizantes Líquidos'}}
          <i class="card-icon fas fa-tint fa-3x float-left align-middle"></i>
          {{/compare}}
          <h5 class="card-title align-text-top">{{product.name}}</h5>
          <!-- <h5 class="card-title align-text-top">{{offer.product.name}}</h5> -->
          <p class="card-text align-text-bottom">U$ {{unitPrice}} un.</p>
          <p class="card-text align-text-bottom">Ingrediente ativo: {{active}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- end QuotationsList -->

{{#section 'scripts'}}
{{/section}}
